@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #2d2e2e;
}

.pitch {
  width: 34rem;
  height: 52.5rem;
  left: calc(50% - 34rem / 2);
  top: calc(50% - 52.5rem / 2);
  position: absolute;
  overflow: hidden;
  box-shadow: #26394d 0px 20px 30px -10px;
}

.marking {
  position: absolute;
}

.outline {
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: none;
}

.center-line {
  width: 100%;
  height: 0.06rem;
  background: #fbfbfb;
  z-index: 3;
  bottom: calc(50% - 0.06rem / 2);
}

.center-circle {
  border-radius: 50%;
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 9.15rem;
  height: 9.15rem;
  background: none;
  bottom: calc(50% - 4.575rem);
  right: calc(50% - 4.575rem);
}

.goal_area {
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 9.16rem;
  height: 2.75rem;
  left: calc(50% - 9.16rem / 2);
}
.goal_area.bottom {
  bottom: 0;
}
.goal_area.top {
  top: 0;
}

.penalty_area {
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 20.16rem;
  height: 8.25rem;
  left: calc(50% - 20.16rem / 2);
}
.penalty_area.bottom {
  bottom: 0;
}
.penalty_area.top {
  top: 0;
}

.penalty_arc {
  border-radius: 50%;
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 9.15rem;
  height: 9.15rem;
  background: none;
  right: calc(50% - 4.575rem);
}
.penalty_arc.top {
  top: 0.925rem;
  clip-path: circle(44.75% at 50% 100%);
}
.penalty_arc.bottom {
  bottom: 0.925rem;
  clip-path: circle(44.75% at 50% 0);
}

.mark {
  border-radius: 50%;
  background: #fbfbfb;
  z-index: 3;
  width: 0.24rem;
  height: 0.24rem;
  left: calc(50% - 0.24rem / 2);
}
.mark.top {
  top: 5.38rem;
}
.mark.bottom {
  bottom: 5.38rem;
}
.mark.center {
  bottom: calc(50% - 0.24rem / 2);
}

.corner {
  border-radius: 50%;
  border: 0.06rem solid #fbfbfb;
  z-index: 3;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
}
.corner.top {
  top: -1.25rem;
}
.corner.left {
  left: -1.25rem;
}
.corner.bottom {
  bottom: -1.25rem;
}
.corner.right {
  right: -1.25rem;
}

.grass {
  width: 100%;
  height: 100%;
  background-color: #449c35;
}
.grass:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  z-index: 2;
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==");
}
.grass:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  background: repeating-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2.625rem, transparent 2.625rem, transparent 5.25rem);
}

.position {
  z-index: 6;
  transition: all 1000ms ease-in;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px dashed #fbfbfb;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(248, 151, 26, 0.5);
}
.position#player1 {
  left: calc(50% - 3.5rem / 2);
  bottom: calc(5% - 3.5rem / 2);
}
.position#player2 {
  left: calc(15% - 3.5rem / 2);
  bottom: calc(25% - 3.5rem / 2);
}
.position#player3 {
  left: calc(37.5% - 3.5rem / 2);
  bottom: calc(25% - 3.5rem / 2);
}
.position#player4 {
  left: calc(62.5% - 3.5rem / 2);
  bottom: calc(25% - 3.5rem / 2);
}
.position#player5 {
  left: calc(85% - 3.5rem / 2);
  bottom: calc(25% - 3.5rem / 2);
}
.position#player6 {
  left: calc(15% - 3.5rem / 2);
  bottom: calc(50% - 3.5rem / 2);
}
.position#player7 {
  left: calc(37.5% - 3.5rem / 2);
  bottom: calc(50% - 3.5rem / 2);
}
.position#player8 {
  left: calc(62.5% - 3.5rem / 2);
  bottom: calc(50% - 3.5rem / 2);
}
.position#player9 {
  left: calc(85% - 3.5rem / 2);
  bottom: calc(50% - 3.5rem / 2);
}
.position#player10 {
  left: calc(33.3% - 3.5rem / 2);
  bottom: calc(80% - 3.5rem / 2);
}
.position#player11 {
  left: calc(66.6% - 3.5rem / 2);
  bottom: calc(80% - 3.5rem / 2);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

* {
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#dropdown_formation {
  width: 20rem;
  padding: 1.5rem;
  background: #0077c0;
  border-radius: 0.5rem;
  top: calc(50% - 52.5rem / 2);
  left: calc(50% + 34rem / 2);
  position: absolute;
  border: 0.06rem solid #fbfbfb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 1rem;
}
#dropdown_formation form {
  position: relative;
  top: 50%;
}
#dropdown_formation label {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #e9ecef;
  font-size: 0.8rem;
}
#dropdown_formation select {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  background: #faad4b;
  border: 1px solid white;
}
#dropdown_formation select:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
