@mixin reset() {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        scroll-behavior: smooth;
        line-height: 1.5;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
        color: inherit;
    }
}

@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
